# DNN-Sim configuration file

# SB
-sb_line_length 256
-sb_num_lines 64
-sb_access_cycles 1

# NBin
-nbin_line_length 16
-nbin_num_lines 64
-nbin_access_cycles 1

# NBout
-nbout_line_length 16
-nbout_num_lines 64
-nbout_access_cycles 1

# NFU-1
-num_nfu1_pipeline_stages 3

# NFU-2
-num_nfu2_pipeline_stages 2

# NFU-3
-num_nfu3_pipeline_stages 3

# Bit-width
-bit_width 16